html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
}

#content {
  margin: 0 auto;
  padding: 20px 20px;
  width: 100%;
}

.titleArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.viewTitle {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-top: -20px;
}

.btn-primary {
  background-color: #1c6a94;
}

.actions {
  margin-bottom: 1em;
}

.action {
  margin: 20px;
}

.btn {
  font-size: 0.75rem;
  padding: 2px;
}

/* Product List */

.box {
  background: #fff;
  border: solid 1px;
  border-radius: 10px;
  border-color: #000000;
  text-align: left;
  padding: 20px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.box .box-title {
  font-size: 1.25rem;
  text-decoration: underline;
}

.box:hover {
  box-shadow: 0 0 6px #4183d7;
}

.box .box-text {
  margin: 5px 0px;
  font-size: 15px;
  line-height: 30px;
}

.deleteBox {
  color: #c1121f;
  font-weight: 900;
}

.box .box-btn a {
  text-decoration: none;
  color: #4183d7;
  font-size: 16px;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #1c6a94;
  color: white;
  text-align: center;
}

.form-group {
  font-size: 1rem;
  width: 100%;
}

.form-group.special {
  background-color: #c1121f;
  padding: 1rem;
  color: aliceblue;
  border-radius: 15px;
  text-shadow: 2px 1px #000000;
}

@media (min-width: 832px) {
  #content {
    padding: 40px 40px;
  }

  .titleArea {
    justify-content: left;
    margin-top: 10px;
  }

  .viewTitle {
    text-align: left;
    width: 75%;
    font-size: 3rem;
  }

  .actionButton {
    margin-left: auto;
  }

  .btn-primary {
    background-color: #1c6a94;
  }

  .btn {
    font-size: 1.25rem;
    padding: 10px;
  }

  .box .box-title {
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: center;
  }

  .form-group {
    font-size: 1.5rem;
    width: 50%;
  }
}
